# This action automatically adds the current issue or pull request to a GitHub project. 
# Note that this is for GitHub projects (beta), not the original GitHub projects.
# https://github.com/marketplace/actions/add-to-github-projects-beta

# Automatically adds labels to pull requests
# https://github.com/andymckay/labeler

# https://stackoverflow.com/questions/62325286/run-github-actions-when-pull-requests-have-a-specific-label

# https://api.github.com/repos/nathanbaleeta/experiments/labels/enhancement

name: Add PRs to Projects

on:
  pull_request:
    types: [ reopened, opened ]
  schedule:
    - cron: "*/3 * * * *"


jobs:
  add-to-projects:
    runs-on: ubuntu-latest
    steps:
      - name: Add PR to Projects
        uses: actions/add-to-project@main
        with:
          project-url: https://github.com/users/nathanbaleeta/projects/1
          github-token: ${{ secrets.ADD_TO_PROJECTS }}
          labeled: needs-triage



          



          
